/* navbar.component.css */

.navbar {
    background-color: #0f0f0f;
    overflow: hidden;
    color: #ebebec;
    display: flex;
    justify-content: space-between;
    padding: 0 20px; /* Adjust the padding as needed */
}

.titleandlogo {
    display: flex;
    align-items: center;
}

.menuicon {
    color: #c3c3c3;
}

#signinbutton {
    background-color: #222222;
    color: #8f8f8f;
    border-radius: 20px;
    padding: 5px 10px;
    margin-right: 10px;
}