table {
    border: 1px solid;
    display: block;
    width: 100%;
    overflow-x: auto;
    border-color: #444;
    border-collapse: collapse;
}

th, td {
    border: 1px solid;
    border-color: #444;
    text-align: center;
    padding: .75rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.filter {
    cursor: pointer;
    margin: 0 5px;
}

/* cursor: pointer , to make cursor a pointer */